@model CapStone.Models.Pharmacy

@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <style>

   
    text {
    color: blue;
    }
   a.button {
        display: inline-block;
        padding: 0.2em 1.2em;
        border: 0.1em solid #FFFFFF;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #333333;
        text-align: center;
        transition: all 0.2s;
        background-color:#89C9FF;
    }
        a.button:hover {
            color: #000000;
            background-color: #FFFFFF;
        }
    table {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: white;
    color: black;
    }
    table th {
    border-collapse: collapse;
    border: 1px solid black;
    color:white;
    }
    table td {
    border: 1px solid black;
    }
    table tr:first-child td {
    border-top: 0;
    }
    table tr td:first-child {
    border-left: 0;
    }
    table tr:last-child td {
    border-bottom: 0;
    }
    table tr td:last-child {
    border-right: 0;
    }
    tr:hover {background-color:#c7cdd6;}
    </style>
</head>
<body>

    <div id="response">
        <pre></pre>
    </div>




    <form id="update">
        <button type="submit">Remove Duplicates</button>
    </form>

    <form id="export">
        <button type="submit">export</button>
    </form>

    <br>
    <div id='movieHeader'>


    </div>
    <div id="something" class='iterate'>
        <table class="myTable" id='movieTable'>
            <thread>
                <tr>
                </tr>
            </thread>
        </table>
    </div>

    <br>
    <br>

    <div id='detailsHeader'>
    </div>
    <div id="somethingElse" class='iterate'>
        <table class="myTable" id='detailsTable'>
            <thread>
                <tr>
                </tr>
            </thread>
        </table>
    </div>

    <form id="formTable">
    </form>

    <br>
    <br>
    <br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
</body>
</html>
