@model CapStone.Models.Pharmacy

@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <style>

   
    text {
    color: blue;
    }
    button {
    border-radius: 50%;
    }
    button {

    transition-duration: 0.4s;
    }

    button:hover {
    background-color: blue; /* Green */
    color: white;
    outline: none;

    }
    table {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: white;
    color: black;
    }
    table th {
    border-collapse: collapse;
    border: 1px solid black;
    color:white;
    }
    table td {
    border: 1px solid black;
    }
    table tr:first-child td {
    border-top: 0;
    }
    table tr td:first-child {
    border-left: 0;
    }
    table tr:last-child td {
    border-bottom: 0;
    }
    table tr td:last-child {
    border-right: 0;
    }
    tr:hover {background-color:#c7cdd6;}
    </style>
</head>
<body>

    <div id="response">
        <pre></pre>
    </div>

   


    <form id="removeDupes">
        <button type="submit">Remove Duplicates</button>
    </form>
   
    <form id="viewTable">


        <button type="submit">View All</button>
    </form>


    <br>
    <div id='movieHeader'>


    </div>
    <div id="something" class='iterate'>
        <table class="myTable" id='movieTable'>
            <thread>
                <tr>
                </tr>
            </thread>
        </table>
    </div>

    <br>
    <br>

    <div id='detailsHeader'>
    </div>
    <div id="somethingElse" class='iterate'>
        <table class="myTable" id='detailsTable'>
            <thread>
                <tr>
                </tr>
            </thread>
        </table>
    </div>

    <form id="formTable">
    </form>

    <br>
    <br>
    <br>





    <form id="searchById">
        <input type="text" name="id" placeholder="Id" />
        <button type="submit">Search</button>
    </form>

  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
</body>
</html>
